<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Khóa học sẽ bị xóa vĩnh viễn. Bạn có chắc muốn xóa khóa học này không?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
          tabindex="1"
        >Đóng</button>
        <button
          type="button"
          class="btn btn-danger"
          id="btn-delete-course"
          tabindex="2"
        >Xóa</button>
      </div>
    </div>
  </div>
</div>